recursive-include greenlet_stackless *.py
recursive-include examples *.pem *.py
recursive-include test *.py
recursive-include coio_src *.c *.h *.py *.pyx *.pxi
#prune examples/sample?/build
#prune ptsevent
prune */syncless
